.content {
  text-align: center;
}
.title {
  text-align: center;
  font-weight: bold;
  color: #ff4f4f;
  opacity: 0.6;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-size: 150px;
  padding-top: 100px;
  font-family: cursive;
}
.button {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1em "Roboto";
  font-weight: 300;
  border: 1px solid #2f8f7f;
  border-radius: 4px;
  color: #2f8f7f;
  margin: 15px 0;
  padding: 8px 14px;
  text-decoration: none;
  opacity: 0.6;
}
